# Node.js specific
node_modules/
npm-debug.log*
yarn-error.log*
.npmrc

# Editor config files
*.swp
*.DS_Store
*.tmp
*.sync
*.log

# IDE specific files
/.vscode/
*.suo
*.user
*.sln
*.csproj
*.vbproj

# TypeScript specific
*.tscache

# Testing
coverage/

# Build artifacts
dist/

# Git specific
.git/